header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*sirve para cambiar la ubicacion inicial del elemento*/
    top: 110px;
    right: 40px;
}

nav li {
    display: inline; /*eliminar que ocupe toda la pantalla*/
    margin: 0 0 0 15px; /*separar texto a la izquierda (se mide como aguja del reloj arriba, derecha, abajo, izq)*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /*letra negrita*/
    font-size: 22px;
    text-decoration: none; /*eliminar decoracion por defecto*/
    
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*para que no se pasen de los 940px que les habia predefinido arriba*/
    border-color: #000000; /*para crear un borde se necesitan estos 3 */
    border-width: 2px;
    border-style: solid;
    border-radius: 10px; /*esto es para hacer el redondeo en el borde*/

}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
