header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*sirve para cambiar la ubicacion inicial del elemento*/
    top: 110px;
    right: 40px;
}

nav li {
    display: inline; /*eliminar que ocupe toda la pantalla*/
    margin: 0 0 0 15px; /*separar texto a la izquierda (se mide como aguja del reloj arriba, derecha, abajo, izq)*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /*letra negrita*/
    font-size: 22px;
    text-decoration: none; /*eliminar decoracion por defecto*/
    
}

