body {
    font-family: 'Montserrat', sans-serif;
    
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*sirve para cambiar la ubicacion inicial del elemento*/
    top: 110px;
    right: 40px;
}

nav li {
    display: inline; /*eliminar que ocupe toda la pantalla*/
    margin: 0 0 0 15px; /*separar texto a la izquierda (se mide como aguja del reloj arriba, derecha, abajo, izq)*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /*letra negrita*/
    font-size: 22px;
    text-decoration: none; /*eliminar decoracion por defecto*/
    font-family: 'Montserrat', sans-serif;
    
}

nav a:hover{
    color: #c78c19;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*para que no se pasen de los 940px que les habia predefinido arriba*/
    border-color: #000000; /*para crear un borde se necesitan estos 3 */
    border-width: 2px;
    border-style: solid;
    border-radius: 10px; /*esto es para hacer el redondeo en el borde*/

}
/*hover se activa cuando pasas el mouse por encima del elemento*/
.productos li:hover{
    border-color: #c78c19;

}
/*active se activa cuando haces click en el elemento*/
.productos li:active{
    border-color: green;
}

.productos li:hover h2{
    font-size: 34px;

}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
/*En el ccs llamamos una imagen de la sig manera: en el background la imagen se repite hasta completar la pantalla*/
footer {
    text-align: center;
    background: url(img-productos/bg.jpg);
    padding: 40px;

}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*CSS del FORMULARIO ------------------------------------------------ */

/*centralizamos el formulario*/
main {
    width: 940px;
    margin: 0 auto;

}
/*separamos los margenes de arriba y abajo: */
form {
    margin: 40px 0;
}

/*desde aqui modificamos la etiqueta label acordarse siempre entrar primero al padre"form" y luego label*/
form label , form legend {  /*con una coma podes agregar varios elementos al mismo css*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

/*aca modificamos el input arriba abajo etc*/
.input-padron {
    display: block;
    margin: 0 0 20px; /*margen exterior*/
    padding: 10px 25px; /*expaciamiento interno*/
    width: 50%; /*ancho que debe ocupar*/
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #c78c19;
    border: none;
    border-radius: 10px;
    transition: 1s; /*cuanto tarda en hacer el efecto lo dejo en 0segundos por gusto*/
    cursor: pointer;
    margin: 0 0 17px;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1); /*agrandar el elemento*/
}

table {
    margin: 40px 40px;

}

thead{
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;

}

td , th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


/*--------------   CSS DE LA PAGINA HOME   ----------------*/

.imgbanner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    clear: left; /*que limpie cualquier modificacion que venga despues del titulo (es decir que el float de utensilios no altere el titulo)*/
}

.principal p {
    margin: 1em 0 1em 0;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left; /*es como si se despegara la imagen y queda flotando con una sombra sirve para que el texto quede redondeando la img
    ¡Alternativa correcta! Tanto el float:left como el float: right sirven para que el elemento se destaque en la pantalla,
    la superficie del elemento continúa siendo utilizada y los otros elementos de texto o elementos en línea se posicionan alrededor de él.*/
    margin: 3.5px 10px 10px 0;
}

.mapa {
    padding: 1em 0;
}

.mapa p {
    margin: 0 0 1em 0;
    text-align: center;
}

.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 2.40; /*height es la altura, en este caso separamos el texto*/
}

.items::before {
    content:"*"
}
/*-- Es pseudoclase sirve para elegir un elemento de esa clase que quieras modificar en este caso es el primero// tambien puedes usar
 .items:nth-child(y el numero de fila que quieras modificar aqui) y agregar el css a un item en especifico ejemplo :
 .items:nth-child(3) aqui se modificara el item numero 3 de la fila  --*/
.items:first-child { 
    font-weight: bold;
}

/*el box-shadow se utiliza para crar la sombra tambien se puede utilizar en textos de la misma manera*/
.imagen-diferenciales{
    width: 60%;
    box-shadow: 5px 5px 15px #000000;
}

.imagen-diferenciales:hover {
    opacity: 70%;
    transition: 1s;
}

.video {
    margin: 1em auto;
}


/*-------------CONFIGURACION PARA DISPOSITIVOS MOBILES---------------------*/


/*aqui estamos diciendo que aplique esta condicion a pantallas que tengan un maximo de 480px de lateral*/

@media screen and (max-width:480px) {

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
    
    main {
        width: auto;
        
    
    }

    .caja, .principal, .contenido-diferenciales {
        width: auto;
        
    }

    .lista-diferenciales, .imagen-diferenciales {
        width: 100%;
    }

    .video {
        margin: 0 auto;
    }


}