.tituloprincipal {
    padding-left: 30px;
}

.imgbanner {
    width: 100%;
}

.principal{
    padding: 20px;
}

.titulocentralizado {
    text-align: center;
}

#mision {
    text-align: center;
    color: red;
}

.parrafo2 {
    text-align: center;
    color: blue;
}

.parrafo3 {
    text-align: center;
    color: purple;
}


.secundario{
    padding: 30px;
}

.listaul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.lista{
    font-style: italic;
}

.imgdiferenciales{
    width: 50%;
}